<%- include('../partials/head') %>
<body>
    <%- include('../partials/nav') %> 
    <%- include('../partials/categoryBar') %>
    <div class="d-flex flex-column bodyContainer">
        <div class="d-flex flex-column categoryContainer mx-auto mt-2">
            <img class="categoryContainer__img" 
            src="https://images.unsplash.com/photo-1481627834876-b7833e8f5570?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8Ym9va3N8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
            <h2 class="categoryContainer__title mx-4 mt-2 text-break">Fred</h2>
            <p class="categoryContainer__description mx-4 text-break">My Name Is Fred Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos natus modi vero sunt. Impedit, ratione earum. Omnis provident laboriosam similique quaerat eos mollitia rerum, deleniti tenetur quae explicabo culpa reiciendis sed sunt ipsa accusamus facere cum rem error dolorum illum. Sit delectus et unde repellendus aut ea dolorum, impedit, odit reprehenderit voluptatibus saepe animi dignissimos cumque commodi doloremque a placeat magni aperiam facere distinctio eveniet voluptas aliquid debitis. Nam magni impedit ipsam neque est dicta doloremque facilis odio labore modi.</p>
        </div>
    </div>
</body>
</html>